h1 {
    text-align: center;
}

.menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    width: 30%;
    height: 50%;
    border: 3px solid black;
    padding: 2rem 0.5rem 0.5rem 0.5rem; 
    position: relative;
    margin-bottom: 1rem; 
    background-color: lightgray;
}

.box h3 {
    width: 4rem;
    padding: 0.5rem;
    position: absolute;
    top: -1.2rem;
    right: 0; 
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    text-align: center;
}

.chicken{
    background-color:darksalmon;
}

.beef{
    background-color: crimson;
}

.sushi{
    background-color: bisque;
}

.box p {
    margin-top: 2rem; 
}

@media screen and (max-width: 1024px) {
    .box {
        width: 45%;
    }
}

@media screen and (max-width: 768px) {
    .box {
        width: 100%;
    }

    .box h3 {
        width: 4rem;
        padding: 0.5rem;
        position: absolute;
        top: -1.3rem;
        right: 0.5rem; /* Align to the right corner */
        border-left: 3px solid black;
        border-bottom: 3px solid black;
        text-align: center;
    }
}
